<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>관리자 메인 페이지</h1>
    <div>
        <div th:text="${id}"></div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <input type="button" value="로그아웃" onclick="location.href='/logout/'">
    </div>

    <h2>관리자 회원가입 승인 리스트</h2>
    <th:block th:each="business : ${businessList}">
        <div>
            <form action="/admin/businessAuthentication/" method="POST">
                <input type="hidden" name="idx" th:value="${business.idx}">
                <div th:text="${business.placeName}"></div>
                <div th:text="${business.placeCall}"></div>
                <div th:text="${business.placeAddress}"></div>
                <div th:text="${business.category}"></div>
                <input type="submit" value="회원가입 승인">
            </form>
        </div>
    </th:block>
</body>
</html>