<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 api -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <!-- footer css -->
    <link href="/css/footer.css" rel="stylesheet">
    <script src="/js/nullPage.js"></script>
    <script th:inline="javascript">
        // 컨트롤러에서 모델로 바인딩한 에러 체크값
        let error = [[${error}]];
        // 컨트롤러에서 모델로 바인딩한 에러 메세지
        let errorMessage = [[${errorMessage}]];

        // 에러 체크값이 true일 경우 에러 알림창 등장
        if ( error == "true" ) {
            alert(errorMessage);
            location.href = "/myPage/";
        }
    </script>
</head>
<body>
    <header style="background-color: #E24671;">
        <div class="container" style="background-color: #E24671;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #E24671; padding-top: 0%; padding-bottom: 0%; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <div class="container-fluid" style="background-color: #E24671;">
                    <a class="navbar-brand me-4 mb-4 mb-lg-0" href="/">Lego</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <input type="hidden" value="이게 없으면 모양 유지가 안됨">
                        </ul>
                        <div class="d-flex nav-item me-5 mb-5 mb-lg-0">
                            <a class="nav-link" onclick="nullPage()">검색</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <span class="nav-link" th:text="${member.nickname} + '님 반갑습니다.'"></span>
                        </div>
                        <div class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <a class="nav-link active" href="/myPage/bookingCheck/">예약 내역</a>
                        </div>
                        <div class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <a class="nav-link" href="/myPage/">마이 페이지</a>
                        </div>
                        <div class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    더보기
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="nullPage()">공지사항</a></li>
                                    <li><a class="dropdown-item" onclick="nullPage()">이벤트</a></li>
                                    <li><a class="dropdown-item" onclick="nullPage()">자주 묻는 질문</a></li>
                                    <li><a class="dropdown-item" onclick="nullPage()">1:1 문의</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" onclick="nullPage()">약관 및 정책</a></li>
                                </ul>
                            </div>
                        </div>
                        <div sec:authorize="isAnonymous()" class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <a class="nav-link active" href="/loginPage/">로그인</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="d-flex nav-item me-4 mb-4 mb-lg-0">
                            <a class="nav-link active" href="/logout/">로그아웃</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="row align-items-center" style="width: 100%; height: 300px; background-color: #E24671; margin: 0%;">
        <div class="col-5" style="font-size: 30px; text-align: center; font-weight: bold; color: white;">
            내 정보
        </div>
    </div>
    <div class="container" style="width: 60%;">
        <div class="row" style="width: 100%; height: 700px;">
            <div class="col-3" style="height: 100%;">
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; border-bottom: 3px solid gray; cursor: pointer;" onclick="nullPage()">
                    <div style=" text-align: center;">
                        포인트
                    </div>
                </div>
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; border-bottom: 3px solid gray; cursor: pointer;" onclick="nullPage()">
                    <div style=" text-align: center;">
                        쿠폰함
                    </div>
                </div>
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; border-bottom: 3px solid gray; cursor: pointer;" onclick="location.href='/myPage/bookingCheck/'">
                    <div style=" text-align: center;">
                        예약 내역
                    </div>
                </div>
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; border-bottom: 3px solid gray; cursor: pointer;" onclick="location.href='/myPage/'">
                    <div style=" text-align: center;">
                        내정보 관리
                    </div>
                </div>
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; border-bottom: 3px solid gray; cursor: pointer;" onclick="nullPage()">
                    <div style=" text-align: center;">
                        알림
                    </div>
                </div>
            </div>
            <div class="col-9" style="height: 100%;">
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 25px;">
                    내 정보 수정
                </div>
                <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px;">
                    프로필 이미지
                </div>
                <form method="post" enctype="multipart/form-data" action="/myPage/profileImageUpdate/">
                    <div class="row align-items-center" style="width: 100%; height: 30%;">
                        <div class="col-4" style="height: 100%;">
                            <input id="profileImage" name="profileImage" type="hidden" th:value="${member.profileImage}">
                            <th:block th:if="${member.profileImage != ''}">
                                <img class="profileImgEdit" style="width: 100%; height: 100%;" th:src="@{/profileImage/} + ${member.profileImage}">
                            </th:block>
                            <th:block th:if="${member.profileImage == ''}">
                                <div class="row align-items-center" style="height: 100%; width: 100%; text-align: center;">
                                    프로필 이미지가 없습니다.
                                </div>
                            </th:block>
                        </div>
                        <div class="col-4" style="height: 100%;">
                            <div class="row align-items-center" style="width: 100%; height: 50%;">
                                <input type="submit" value="이미지 변경">
                            </div>
                            <div style="width: 100%; height: 50%;">
                                <div class="row align-items-center" style="width: 100%; height: 50%;">
                                    <input type="file" value="등록하기" id="imageFile"  name="imageFile" onchange="previewImage();">
                                </div>
                                <div class="row align-items-center" style="width: 100%; height: 50%;">
                                    <div id="changeImageText" style="text-align: center; visibility: hidden;">
                                        바뀔 이미지 ->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="height: 100%;">
                            <img id="previewProfileImage" style="width: 100%; height: 100%; visibility: hidden;" src="">
                        </div>
                    </div>
                </form>
                <div class="row align-items-end" style="width: 100%; height: 10%; font-size: 20px;">
                    닉네임
                </div>
                <form class="row align-items-center" action="/myPage/nicknameChange/" method="POST" style="width: 100%; height: 10%; font-size: 18px;">
                    <input type="hidden" th:value="${member.idx}" name="idx">
                    <div class="col-3" th:text="${member.nickname}">
                        실제 닉네임
                    </div>
                    <div class="col-3" id="nicknameChangeForm">
                        <input type="button" value="닉네임 수정" onclick="changeNicknameForm()">
                    </div>
                    <div class="col-3" id="nicknameChangeFormClose" style="display: none;">
                        <input type="button" value="수정 취소" onclick="changeNicknameFormClose()">
                    </div>
                    <div class="col-3" id="nicknameForm" style="display: none;">
                        <input id="nickname" type="text" name="nickname">
                    </div>
                    <div class="col-3" id="nicknameCheck" style="display: none;">
                        <input type="button" value="닉네임 중복검사" onclick="checkNickname()">
                    </div>
                    <div class="col-3" id="nicknameChange" style="display: none;">
                        <input type="submit" value="닉네임 수정하기">
                    </div>
                </form>
                <div class="row" style="width: 100%; height: 30%;">
                    <div class="col-6" style="height: 100%;">
                        <div class="row align-items-center" style="width: 100%; height: 40%; font-size: 20px;">
                            이름
                        </div>
                        <div th:text="${member.name}" class="row align-items-center" style="width: 100%; height: 30%; font-size: 20px;">
                            실제 이름
                        </div>
                        <div class="row align-items-center" style="width: 100%; height: 30%;">
                            <input type="button" value="이름 수정" onclick="nullPage();">
                        </div>
                    </div>
                    <div class="col-6" style="height: 100%;">
                        <div class="row align-items-center" style="width: 100%; height: 40%; font-size: 20px;">
                            전화번호
                        </div>
                        <div th:text="${member.phone}" class="row align-items-center" style="width: 100%; height: 30%; font-size: 20px;">
                            실제 전화번호
                        </div>
                        <div class="row align-items-center" style="width: 100%; height: 30%;">
                            <input type="button" value="전화번호 수정" onclick="nullPage();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">Lego</h1>
                
            <h2>Contact</h2>
            
            <address>
                5534 Somewhere In. The World 22193-10212 - 세상은 하나 위아더 월드<br>
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
            </address>
        </div>
        
        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Media</h2>
            
                <ul class="nav__ul">
                    <li>
                        <a href="#">회사소개</a>
                    </li>
            
                    <li>
                        <a href="#">이용악관</a>
                    </li>
                        
                    <li>
                        <a href="#">개인정보처리방침</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>
                
                <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                    
                    <li>
                        <a href="#">02-0000-0000</a>
                    </li>
                    
                    <li>
                        <a href="#">없는 번호니깐 전화하지 마세요!</a>
                    </li>
                    
                    <li>
                        <a href="#">구매는 본인에게 책임이 있으니 어쩌구 저쩌구...</a>
                    </li>
                    
                    <li>
                        <a href="#">이젠 쓸게 없음...</a>
                    </li>
                    
                    <li>
                        <a href="#">Css 싫어</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav__item">
                <h2 class="nav__title">제작자</h2>
                <ul class="nav__ul">
                    <li>
                        <a href="https://github.com/sh990920">깃허브</a>
                    </li>
                    
                    <li>
                        <a href="https://shpark0920.tistory.com/">블로그</a>
                    </li>
                    
                    <li>
                        <a href="#">아직 없음</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="legal">
            <p>&copy; 2023년 제작중. 너무 어려워요.</p>
            <div class="legal__links">
                <span>Made with <span class="heart">♥</span>승환파크</span>
            </div>
        </div>
    </footer>
</body>
<script src="/js/httpRequest.js"></script>
<script>

    function changeNicknameForm(){
        let nicknameChangeForm = document.getElementById("nicknameChangeForm");
        let nicknameChangeFormClose = document.getElementById("nicknameChangeFormClose");
        let nicknameForm = document.getElementById("nicknameForm");
        let nickname = document.getElementById("nickname");
        let nicknameCheck = document.getElementById("nicknameCheck");
        nicknameChangeForm.style.display = "none";
        nicknameChangeFormClose.style.display = "block";
        nicknameForm.style.display = "block";
        nickname.value = "";
        nickname.readOnly = false;
        nicknameCheck.style.display = "block";
    }

    function changeNicknameFormClose(){
        let nicknameChangeForm = document.getElementById("nicknameChangeForm");
        let nicknameChangeFormClose = document.getElementById("nicknameChangeFormClose");
        let nicknameForm = document.getElementById("nicknameForm");
        let nickname = document.getElementById("nickname");
        let nicknameCheck = document.getElementById("nicknameCheck");
        let nicknameChange = document.getElementById("nicknameChange");
        nicknameChangeForm.style.display = "block";
        nicknameChangeFormClose.style.display = "none";
        nicknameForm.style.display = "none";
        nickname.value = "";
        nickname.readOnly = false;
        nicknameCheck.style.display = "none";
        nicknameChange.style.display = "none";
    }

    function checkNickname(){
        let nickname = document.getElementById("nickname");
        if(nickname.value.trim() == ""){
            alert("닉네임을 입력해주세요.");
            return;
        }
        let url = "/myPage/nicknameCheck/";
        let param = "nickname=" + nickname.value;
        sendRequest(url, param, resCheckNickname, "POST");
    }

    function resCheckNickname(){
        let nickname = document.getElementById("nickname");
        let nicknameCheck = document.getElementById("nicknameCheck");
        let nicknameChange = document.getElementById("nicknameChange");
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            let data = xhr.responseText;

            if (data == "no") {
                alert("닉네임이 중복 됩니다 다시 입력해주세요.");
                nickname.value = "";
            } else {
                alert("닉네임을 사용할 수 있습니다.");
                nickname.readOnly = true;
                nicknameCheck.style.display = "none";
                nicknameChange.style.display = "block";
            }
        }
    }

</script>
<script>
    function previewImage() {
        const previewProfileImage = document.getElementById("previewProfileImage");
        const changeImageText = document.getElementById("changeImageText");
        const file = document.getElementById("imageFile").files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            changeImageText.style.visibility = "visible";
            previewProfileImage.style.visibility = "visible";
            previewProfileImage.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
</html>