<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 api -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script>
        // 현재시간으로 id설정
        // 현재 시간 가져오기
        let time = new Date().toTimeString().split(' ')[0];
        // 타임존 설정
        const TIME_ZONE = 3240 * 10000;
        // 오늘 날짜 시간 가져오기
        let today = new Date(+new Date() + TIME_ZONE).toISOString().split('T')[0];
        // 클라이언트 id 설정
        let paymentId = "paymentId-" + today + "-" + time;
        function requestPayment() {
            let buyerName = document.getElementById("visitorName").value;
            let buyerTel = document.getElementById("visitorPhone").value;
            let checkValue1 = document.getElementById("checkValue1");
            let checkValue2 = document.getElementById("checkValue2");
            let checkValue3 = document.getElementById("checkValue3");
            if(buyerName == ""){
                alert("이용자 이름을 작성해주세요.");
                return;
            }
            if(buyerTel == ""){
                alert("이용자 전화번호를 작성해주세요.");
                return;
            }
            // 필수항목 체크박스 확인
            if(checkValue1.checked != true || checkValue2.checked != true || checkValue3.checked != true){
                alert("필수항목에 체크를 해주세요");
                return;
            }
            let pg = document.querySelector('input[name="pg"]:checked').value;
            let value = pg;
            if(value == "null"){
                alert("아직 개발중입니다.");
                return;
            }
            let payMethod = "CARD";
            // 카카오페이
            if(value == "channel-key-4d5d39a6-bbc9-4087-96b8-db912de32d81"){
                payMethod = "EASY_PAY";
            }
            // 토스페이
            if(value == "channel-key-bcae8eee-454b-4104-afe6-9c356bf3c575"){
                //payMethod = "EASY_PAY";
            }
            let request = PortOne.requestPayment({
                // 가맹점 storeId로 변경해주세요.
                storeId: 'store-9969082b-4275-4cb8-b6df-f11400902f39',
                // 클라이언트 id
                paymentId: paymentId,
                // 주문 명
                orderName: '[[${room.roomName}]]',
                // 결제 금액
                totalAmount: [[${booking.price}]],
                // 결제 통화
                currency: 'CURRENCY_KRW',
                // pg사 코드
                //pgProvider: value,
                channelKey: value,
                // 결제 수단
                payMethod: payMethod,
                // 유저 이름
                customer: {
                    fullName: buyerName,
                    customerId: '[[${member.id}]]',
                    phoneNumber: buyerTel
                },
                phoneNumber: '[[${member.phone}]]',
            }).then(function(response){
                if(response.code != null){
                    alert(response.message);
                    return;
                }else{
                    let buyerName = document.getElementById("visitorName").value;
                    let buyerTel = document.getElementById("visitorPhone").value;
                    let pg = document.getElementById("pg");
                    let value = document.querySelector('input[name="pg"]:checked').value;
                    let pgProvider = "";
                    let payMethod = "CARD";
                    // 카카오페이
                    if(value == "channel-key-4d5d39a6-bbc9-4087-96b8-db912de32d81"){
                        payMethod = "EASY_PAY";
                        pgProvider = "CACAO_PAY";
                    }
                    // 토스페이
                    if(value == "channel-key-c923485b-39d5-4d18-96c8-18393b93b7b0"){
                        //payMethod = "EASY_PAY";
                        pgProvider = "TOSS_PAY";
                    }
                    // KS_NET
                    if(value == "channel-key-5e0753fa-5147-4bf2-b1c2-035acdfd5b74"){
                        pgProvider = "KS_NET";
                    }
                    var url = "/pay/success/";
	                var param = "memberIdx=" + [[${booking.memberIdx}]] +
	                            "&businessIdx=" + [[${booking.businessIdx}]] +
	                            "&roomIdx=" + [[${booking.roomIdx}]] +
	                            "&paymentId=" + paymentId +
	                            "&pgProvider=" + pgProvider +
	                            "&payMethod=" + payMethod +
	                            "&checkInDate=" + '[[${booking.checkInDate}]]' +
	                            "&checkOutDate=" + '[[${booking.checkOutDate}]]' +
	                            "&price= " + [[${booking.price}]] +
	                            "&buyerName=" + buyerName +
	                            "&buyerTel=" + buyerTel +
	                            "&personnel=" + '[[${booking.personnel}]]';
	                sendRequest(url, param, res, "post");
                }
            });
        }
        function res() {
        	if (xhr.readyState == 4 && xhr.status == 200) {
		        var data = xhr.responseText;
		        if (data == "no") {
		            alert("결제실패는 아니고 값이 안들어감 ㅋ");
		            //값이 잘 들어오니깐 비교해서 값 정리하고 들어왔으면 결제 완료로 넘어가게
		            //그다음 restAPI써서 키값 밸류값 뭐시기 하고
		            //그다음 결제완료됬는지 진짜 마지막 확인까지만 하면 끝
		            //인데 그건 나중에 일단은 결제 완료되면 db에 저장
			        return;
		        } else {
                    //가맹점 서버 결제 API 성공시 로직
                    alert("결제완료");
                    //여기서 받은 정보들을 가지고 다시 컨트롤러로 돌아가서 db에 저장
                    //이후 다시 결제 목록으로 페이지를 옮겨준다
                    location.href="/";
		        }
	        }
        }
    </script>
    <script src="/js/httpRequest.js"></script>
</head>
<body>
    <div class="container" style="width: 60%; height: 100px;">
        <div class="row align-items-center" style="width: 100%; height: 100%;">
            <div style="font-size: 30px; font-weight: bold; text-align: center;">예약 하기</div>
        </div>
    </div>
    <div style="height: 50px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 400px;">
        <div class="row align-items-center" style="width: 100%; height: 15%;">
            <div style="margin-left: 3%; font-size: 20px; font-weight: bold;">
                숙소
            </div>
        </div>
        <div class="row" style="width: 100%; height: 15%;">
            <div th:text="${business.placeName}" readonly style="width: 100%; height: 50%; font-size: 20px; font-weight: bold;">
                숙소 이름
            </div>
            <div th:text="${room.roomName}" readonly style="width: 100%; height: 50%; font-size: 15px;">
                방 이름
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 30%;">
            <div class="col-6">
                <div>
                    체크인
                </div>
                <div>
                    <input type="date" th:value="${booking.checkInDate}" readonly>
                </div>
                <div th:text="${room.checkInTime}">
                    15:00
                </div>
            </div>
            <div class="col-6">
                <div>
                    체크아웃
                </div>
                <div>
                    <input type="date" th:value="${booking.checkOutDate}" readonly>
                </div>
                <div th:text="${room.checkOutTime}">
                    15:00
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 20%;">
            <div class="row align-items-center" style="width: 100%; height: 100%;">
                <div class="col-7"></div>
                <div class="col-5" style="height: 100%;">
                    <div style="width: 100%; height: 50%;">
                        <div th:text="${booking.price}" style="text-align: end; height: 100%; font-size: 20px;">
                            <span>숙박 / 1박</span>
                            <span style="font-weight: bold;" th:text="${booking.price} + '원'">145000원</span>
                        </div>
                    </div>
                    <div style="text-align: end; font-size: 13px; font-weight: bold; color: red;">
                        취소 및 환불불가
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 20%;">
            <div class="row align-items-center" style="width: 100%; height: 50%;">
                <div class="col-6" style="font-size: 20px; font-weight: bold;">
                    방문수단 선택하기
                </div>
                <div class="col-6" style="text-align: end;">
                    <span style="font-size: 17px;">
                        <input type="radio" id="visitType" name="visitName" value="bus">
                        대중교통
                    </span>
                    <span style="font-size: 17px;">
                        <input type="radio" id="visitType" name="visitName" value="car">
                        차량
                    </span>
                </div>
            </div>
            <div class="row align-items-center" style="width: 100%; height: 50%;">
                <div class="col-6" style="font-size: 20px; font-weight: bold;">
                    <span>
                        <input type="checkbox">
                        픽업 요청하기
                    </span>
                </div>
                <div class="col-6" style="text-align: end; font-size: 13px; font-weight: bold;">
                    픽업 안내
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 200px;">
        <div class="row align-items-center" style="width: 100%; height: 30%;">
            <div style="margin-left: 3%; font-size: 20px; font-weight: bold;">
                예약자 정보
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 30%;">
            <div class="col-3" style="text-align: center;">
                이름
            </div>
            <div class="col-9">
                <input type="text" th:value="${member.name}" id="memberName" readonly style="width: 50%;">
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 30%;">
            <div class="col-3" style="text-align: center;">
                전화번호
            </div>
            <div class="col-9">
                <input type="text" th:value="${member.phone}" id="memberPhone" readonly style="width: 50%;">
            </div>
        </div>
    </div>
    <div style="height: 50px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 300px;">
        <div class="row align-items-center" style="width: 100%; height: 20%;">
            <div style="margin-left: 3%; font-size: 20px; font-weight: bold;">
                이용자 정보
            </div>
        </div>
        <div class="row align-items-center" style="width: 90%; height: 20%; margin: 0% 5% 0% 5%;">
            <div>상품 이용시 필요한 필수 정보입니다</div>
        </div>
        <div class="row align-items-center" style="width: 90%; height: 20%; margin: 0% 5% 0% 5%;">
            <div class="col-12" style="font-size: 20px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="check" onclick="memberSameVisitor();">
                </span>
                <span>예약자 정보와 동일합니다.</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 20%;">
            <div class="col-3" style="text-align: center;">
                이름
            </div>
            <div class="col-9">
                <input type="text" id="visitorName" placeholder="이름을 입력하세요." style="width: 50%;">
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 20%;">
            <div class="col-3" style="text-align: center;">
                전화번호
            </div>
            <div class="col-9">
                <input type="text" id="visitorPhone" placeholder="전화번호를 입력하세요." style="width: 50%;">
            </div>
        </div>
    </div>
    <div style="height: 50px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 300px;">
        <div class="row align-items-center" style="width: 100%; height: 22%;">
            <div style="margin-left: 3%; font-size: 20px; font-weight: bold;">
                결제금액
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 22%; font-size: 20px; font-weight: bold;">
            <div class="col-6">상품 금액</div>
            <div class="col-6" style="text-align: end;" th:text="${booking.price}">가격</div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 22%; font-size: 20px; font-weight: bold;">
            <div class="col-6">할인 금액</div>
            <div class="col-6" style="text-align: end;">개발중</div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 22%; font-size: 20px; font-weight: bold;">
            <div class="col-6">포인트</div>
            <div class="col-6" style="text-align: end;">개발중</div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 20px; font-weight: bold;">
            <hr>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 22%; font-size: 20px; font-weight: bold;">
            <div class="col-6">총 결제금액</div>
            <div class="col-6" style="text-align: end;" th:text="${booking.price}">가격</div>
        </div>
    </div>
    <div style="height: 150px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 300px;">
        <div class="row align-items-center" style="width: 100%; height: 20%;">
            <div style="margin-left: 3%; font-size: 20px; font-weight: bold;">
                결제수단
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 40%;">
            <div class="col-6" style="text-align: center;">
                <span style="font-size: 20px;">
                    <input type="radio" id="pg" name="pg" value="channel-key-4d5d39a6-bbc9-4087-96b8-db912de32d81" checked>
                    카카오페이
                </span>
            </div>
            <div class="col-6" style="text-align: center;">
                <span style="font-size: 20px;">
                    <input type="radio" id="pg" name="pg" value="channel-key-c923485b-39d5-4d18-96c8-18393b93b7b0">
                    토스페이
                </span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 40%;">
            <div class="col-6" style="text-align: center;">
                <span style="font-size: 20px;">
                    <input type="radio" id="pg" name="pg" value="channel-key-5e0753fa-5147-4bf2-b1c2-035acdfd5b74">
                    카드결제
                </span>
            </div>
            <div class="col-6" style="text-align: center;">
                <span style="font-size: 20px;">
                    <input type="radio" id="pg" name="pg" value="null">
                    개발중
                </span>
            </div>
        </div>
    </div>
    <div style="height: 50px; width: 100%;">

    </div>
    <div class="container" style="width: 60%; height: 500px;">
        <div class="row align-items-center" style="width: 100%; height: 15%;">
            <div class="col-12" style="font-size: 20px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="allCheck" onclick="checkAll()">
                </span>
                <span>필수 약관 전체 동의</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 12%;">
            <div class="col-12" style="font-size: 17px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="checkValue1">
                </span>
                <span>[필수] 만14세 이상 이용 동의</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 12%;">
            <div class="col-12" style="font-size: 17px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="checkValue2">
                </span>
                <span>[필수] 개인정보 수집 및 이용</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 12%;">
            <div class="col-12" style="font-size: 17px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="checkValue3">
                </span>
                <span>[필수] 개인정보 제 3자 제공</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 12%;">
            <div class="col-12" style="font-size: 17px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="checkValue4">
                </span>
                <span>[선택] 이벤트, 혜택 정보 수신 동의</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 12%;">
            <div class="col-12" style="font-size: 17px; font-weight: bold;">
                <span>
                    <input type="checkbox" id="checkValue5">
                </span>
                <span>[선택] 이벤트, 혜택 정보 전송을 위한 개인정보 수집 및 이용 동의</span>
            </div>
        </div>
        <div class="row align-items-center" style="width: 100%; height: 10%; font-size: 12px;">
            이용규칙, 취소 및 환불 규칙 에 동의하실 경우 결제하기를 클릭해주세요
        </div>
        <div class="row align-items-center" style="width: 100%; height: 15%;">
            <input type="button" value="결제하기" onclick="requestPayment()">
        </div>
    </div>
</body>
<script>
    function checkAll(){
        let allCheck = document.getElementById("allCheck");
        let checkValue1 = document.getElementById("checkValue1");
        let checkValue2 = document.getElementById("checkValue2");
        let checkValue3 = document.getElementById("checkValue3");
        let checkValue4 = document.getElementById("checkValue4");
        let checkValue5 = document.getElementById("checkValue5");
        if(allCheck.checked == true){
            checkValue1.checked = true;
            checkValue2.checked = true;
            checkValue3.checked = true;
            checkValue4.checked = true;
            checkValue5.checked = true;
        }
        if(allCheck.checked == false){
            checkValue1.checked = false;
            checkValue2.checked = false;
            checkValue3.checked = false;
            checkValue4.checked = false;
            checkValue5.checked = false;
        }
    }

    function memberSameVisitor(){
        let check = document.getElementById("check");
        let memberName = document.getElementById("memberName");
        let memberPhone = document.getElementById("memberPhone");
        let visitorName = document.getElementById("visitorName");
        let visitorPhone = document.getElementById("visitorPhone");
        if(check.checked){
            visitorName.value = memberName.value;
            visitorName.readOnly = true;
            visitorPhone.value = memberPhone.value;
            visitorPhone.readOnly = true;
        }else{
            visitorName.value = "";
            visitorName.readOnly = false;
            visitorPhone.value = "";
            visitorPhone.readOnly = false;
        }
    }
</script>
</html>