<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/67d5da7423.js" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        // 컨트롤러에서 모델로 바인딩한 에러 체크값
        let error = [[${error}]];
        // 컨트롤러에서 모델로 바인딩한 에러 메세지
        let errorMessage = [[${errorMessage}]];

        // 에러 체크값이 true일 경우 에러 알림창 등장
        if ( error == "true" ) {
            alert(errorMessage);
        }
    </script>
    <link href="/css/memberLogin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="mx-auto m-3" style="width: 100%; height: 150px;">

        </div>
        <div class="mx-auto m-3 row" style="width: 100%; height: 600px;">
            <div class="col-3">

            </div>
            <div class="col-6" style="border: 1px solid black;">
                <div class="row" style="height: 20%; background-color: #E24671;">
                    <div class="col-2">

                    </div>
                    <div class="col-8 align-self-center" style="text-align: center;">
                        <h1>
                            <a href="/" style="text-decoration: none; color: black; font-style: italic;">LEGO</a>
                        </h1>
                    </div>
                    <div class="col-2">

                    </div>
                </div>
                <div class="row" style="background-color: #222;">
                    <div>
                        <div class="form member">
                            <div class="form-header">
                                <div class="show-member">member</div>
                                <div class="show-business">business</div>
                                <div class="show-admin">admin</div>
                            </div>
                            <div class="arrow"></div>
                            <div class="form-elements">
                                <div class="form-element">
                                    <input type="text" name="id" id="id" placeholder="Username">
                                </div>
                                <div class="form-element">
                                    <input type="password" name="password" id="password" placeholder="Password">
                                </div>
                                <div class="form-element">
                                    <form method="POST" action="/loginPage/login/">
                                        <input type="hidden" name="id" id="member_id">
                                        <input type="hidden" name="password" id="member_password">
                                        <button onclick="memberLogin(this.form);">유저 로그인</button>
                                    </form>
                                </div>
                                <div class="form-element">
                                    <form method="POST" action="/business/login/">
                                        <input type="hidden" name="id" id="business_id">
                                        <input type="hidden" name="password" id="business_password">
                                        <button onclick="businessLogin(this.form, 'business');">사업자 로그인</button>
                                    </form>
                                </div>
                                <div class="form-element">
                                    <form method="POST" action="/admin/login/">
                                        <input type="hidden" name="id" id="admin_id">
                                        <input type="hidden" name="password" id="admin_password">
                                        <button onclick="adminLogin(this.form, 'admin');">관리자 로그인</button>
                                    </form>
                                </div>
                                <div class="form-element">
                                    <button>간편 로그인</button>
                                </div>
                                <div class="form-element row">
                                    <div class="col-5 align-self-center">
                                        <hr />
                                    </div>
                                    <div class="col-2 align-self-center" style="text-align: center;">
                                        OR
                                    </div>
                                    <div class="col-5 align-self-center">
                                        <hr />
                                    </div>
                                </div>
                                <div class="form-element row">
                                    <div class="col-6" style="padding-right: 5px;">
                                        <div class="form-element">
                                            <button onclick="#">아이디 찾기</button>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding-left: 5px;">
                                        <div class="form-element">
                                            <button onclick="#">비밀번호 찾기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element">
                                    <button onclick="location.href='/signUpPage/'">유저 회원가입</button>
                                </div>
                                <div class="form-element">
                                    <button onclick="location.href='/business/signUpPage/'">사업자 회원가입</button>
                                </div>
                                <div class="form-element">
                                    <button onclick="location.href='/admin/signUpPage/'">관리자 회원가입</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script>
        function resetClass(element, classname){
            element.classList.remove(classname);
        }
    
        document.getElementsByClassName("show-member")[0].addEventListener("click",function(){
            let form = document.getElementsByClassName("form")[0];
            resetClass(form, "business");
            resetClass(form, "admin");
            form.classList.add("member");
        });
    
        document.getElementsByClassName("show-business")[0].addEventListener("click",function(){
            let form = document.getElementsByClassName("form")[0];
            resetClass(form, "member");
            resetClass(form, "admin");
            form.classList.add("business");
        });
    
        document.getElementsByClassName("show-admin")[0].addEventListener("click",function(){
            let form = document.getElementsByClassName("form")[0];
            resetClass(form, "member");
            resetClass(form, "business");
            form.classList.add("admin");
        });
    </script>
    <script>
        function memberLogin(f){
            let id = document.getElementById("id").value;
            let password = document.getElementById("password").value;
            if(id == ""){
                alert("아아디를 입력해주세요.");
                return;
            }
            if(password == ""){
                alert("비밀번호를 입력해주세요.");
                return;
            }
            let member_id = document.getElementById("member_id");
            let member_password = document.getElementById("member_password");
            member_id.value = id;
            member_password.value = password;
            f.submit();
        }

        function businessLogin(f){
            let id = document.getElementById("id").value;
            let password = document.getElementById("password").value;
            if(id == ""){
                alert("아아디를 입력해주세요.");
                return;
            }
            if(password == ""){
                alert("비밀번호를 입력해주세요.");
                return;
            }
            let business_id = document.getElementById("business_id");
            let business_password = document.getElementById("business_password");
            business_id.value = id;
            business_password.value = password;
            f.submit();
        }

        function adminLogin(f){
            let id = document.getElementById("id").value;
            let password = document.getElementById("password").value;
            if(id == ""){
                alert("아아디를 입력해주세요.");
                return;
            }
            if(password == ""){
                alert("비밀번호를 입력해주세요.");
                return;
            }
            let admin_id = document.getElementById("admin_id");
            let admin_password = document.getElementById("admin_password");
            admin_id.value = id;
            admin_password.value = password;
            f.submit();
        }
    </script>
</body>
</html>