.btn-lego{
    background:#f1575b;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
}
.btn-lego:hover{
    background:#f1575b;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
}