<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>방 등록 페이지</h1>
    <input type="hidden" th:value="${businessIdx}" id="businessIdx">
    <div>
        <span>방 이름</span>
        <input type="text" id="roomName" name="roomName">
    </div>
    <div>
        <span>방 가격</span>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <span>최소 인원수</span>
        <input type="number" id="minPersonnel" name="minPersonnel" value="2">
    </div>
    <div>
        <span>최대 인원수</span>
        <input type="number" id="maxPersonnel" name="maxPersonnel">
    </div>
    <div>
        <span>체크인 시간</span>
        <input type="time" id="checkInTime" name="checkInTime">
    </div>
    <div>
        <span>체크아웃 시간</span>
        <input type="time" id="checkOutTime" name="checkOutTime">
    </div>
    <input type="button" value="방 추가" onclick="roomAdd();">
</body>
<script src="/js/httpRequest.js"></script>
<script src="/js/businessRoomAdd.js"></script>
</html>