<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>방 수정 페이지</h1>
    <input type="hidden" th:value="${room.businessIdx}" id="businessIdx">
    <input type="hidden" th:value="${room.idx}" id="idx">
    <div>
        <span>방 이름</span>
        <input type="text" id="roomName" name="roomName" th:value="${room.roomName}">
    </div>
    <div>
        <span>방 가격</span>
        <input type="text" id="price" name="price" th:value="${room.price}">
    </div>
    <div>
        <span>최소 인원수</span>
        <input type="number" id="minPersonnel" name="minPersonnel" th:value="${room.minPersonnel}">
    </div>
    <div>
        <span>최대 인원수</span>
        <input type="number" id="maxPersonnel" name="maxPersonnel" th:value="${room.maxPersonnel}">
    </div>
    <div>
        <span>체크인 시간</span>
        <input type="time" id="checkInTime" name="checkInTime" th:value="${room.checkInTime}">
    </div>
    <div>
        <span>체크아웃 시간</span>
        <input type="time" id="checkOutTime" name="checkOutTime" th:value="${room.checkOutTime}">
    </div>
    <input type="button" value="방 추가" onclick="roomUpdate();">
</body>
<script src="/js/httpRequest.js"></script>
<script src="/js/businessRoomUpdate.js"></script>
</html>